.hero {
    background-image: url('~@/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    margin-bottom: 4rem;
    @media (min-width: $breakpoint-lg) {
        padding-top: 6rem;
    }
    &-button {
        text-align: center;
    }
    &--purple {
        background-image: url('~@/assets/contact-us-bg.png');
        padding-bottom: 3.6rem;
        margin-bottom: 0;
    }
}