.img {
    &-responsive {
        width: 100%;
    }

    &-circle {
        width: 80px;
        height: 80px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: $border-default;
        img {
            display: inline;
            margin: 0 auto;
        }
    }
}