.input-group {
    text-align: left;
    margin-bottom: 1rem;
    justify-content: center;
    
    @media (min-width: $breakpoint-lg) {
        text-align: right;
    }
}

.input,
.select {
    padding-right: .75rem;
    padding-left: .75rem;
    border: $border-default;
    color: $color-font;
    min-height: $input-height;
    position: relative;
    margin-bottom: $grid-gutter;
    padding: .5rem;
    &:focus {
        outline: none;
        border-color: $input-focus;
    }
}

.select {
    &:invalid {
        color: $color-font-light;
        font-weight: $font-weight;
    }
}