.text-bold {
    font-weight: $font-weight-bold;
}
.text-size-base {
    font-size:  $font-size-base;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.vis-hidden {
    visibility: hidden;
}
.vis-visible {
    visibility: visible;
}
.font-blue-light {
    color: $blue-light;
}
.font-blue-violet {
    color: $blue-violet;
}
.font-gray {
    color: $color-mono-400;
}
.font-mono-200 {
    color: $color-mono-200;
}
.text-center {
    text-align: center;
}

@media screen and (max-width: $breakpoint-lg) {
    .text-bold-sm {
        font-weight: $font-weight-bold;
    }
    .text-size-base-sm {
        font-size: $font-size-base;
    }
    .no-padding-sm {
        padding: 0;
    }
    .hide-sm {
        display: none;
    }
    .show-sm {
        display: block;
    }
}